html[data-gct-theme="solarized-dark"] {
  --gct-color-scheme: dark;
  --gct-bg: #002b36;
  --gct-bg-subtle: #073642;
  --gct-bg-inset: #00212b;
  --gct-bg-overlay: #073642;
  --gct-fg: #93a1a1;
  --gct-fg-muted: #657b83;
  --gct-border: #0d4250;
  --gct-accent: #268bd2;
  --gct-red: #dc322f;
  --gct-orange: #cb4b16;
  --gct-yellow: #b58900;
  --gct-green: #859900;
  --gct-cyan: #2aa198;
  --gct-blue: #268bd2;
  --gct-purple: #6c71c4;
  --gct-pink: #d33682;
  --gct-syn-comment: #586e75;
  --gct-syn-keyword: var(--gct-green);
  --gct-syn-string: var(--gct-cyan);
  --gct-syn-constant: var(--gct-pink);
  --gct-syn-variable: var(--gct-yellow);
  --gct-syn-tag: var(--gct-blue);
  --gct-syn-heading: var(--gct-orange);
}
